* {
  margin: 0px;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("https://plexcollectionposters.com/images/2021/05/16/background-images-for-login-page3bc68c53b0db224b.jpg");
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Gochi Hand', cursive;
  font-family: 'Hind Siliguri', sans-serif;
}

.container .logout {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.container .logout button {
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: red;
}

.container .premium_btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.container .premium_btn button {
  background-color: orange;
  border: none;
  border: 6px solid rgba(39, 65, 180, 0.551);
  cursor: pointer;
}

.container .details_btn {
  position: absolute;
  right: 10px;
  top: 90px;
}

.container .details_btn button {
  background-color: orange;
  border: none;
  border: 6px solid rgba(39, 65, 180, 0.551);
  cursor: pointer;
}

.container .details_btn button a {
  text-decoration: none;
}

.container .Premi_umuser {
  color: white;
  background-color: #cf8433;
  border-radius: 10px;
  padding: 5px;
}

.expense_form_container {
  height: 30%;
}

.expense_form_container .user_name_Form {
  border: 6px solid rgba(39, 65, 180, 0.551);
  -webkit-box-shadow: -20px 13px 74px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 13px 74px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
  height: 28%;
  width: 18%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expense_form_container .expense_from {
  border: 6px solid rgba(39, 65, 180, 0.551);
  -webkit-box-shadow: -20px 13px 74px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 13px 74px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
  height: 80%;
  width: 18%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expense_form_container .expense_from .form_iems {
  margin-top: 10px;
}

.expense_form_container .expense_from .form_iems input {
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.541);
  border-radius: 4px;
  width: 90px;
  height: 20px;
}

.expense_form_container .expense_from .form_iems .description {
  height: 30px;
  width: 100px;
}

.expense_form_container .expense_from .add_expense_btn {
  border: none;
  margin-top: 10px;
  margin: 10px auto;
  background-color: rgba(45, 39, 158, 0.804);
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 100px;
  margin-left: 46%;
  margin-top: 10px;
  cursor: pointer;
}

.expense_show_container {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.expense_show_container .expense {
  width: 70%;
  height: 450px;
  background-color: white;
  border: 6px solid rgba(39, 65, 180, 0.551);
  -webkit-box-shadow: -20px 13px 74px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 13px 14px 0px rgba(43, 42, 42, 0.442);
  border-radius: 15px;
}

.expense_show_container .expense .expense_show_form {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.expense_show_container .expense .expense_show_form .expense_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.expense_show_container .expense .expense_show_form .expense_header p {
  margin-right: 10px;
  font-weight: 900;
}

.expense_show_container .expense .expense_show_form .expense_item_cont {
  height: 360px;
  overflow-y: scroll;
}

.expense_show_container .expense .expense_show_form .expense_item_cont .expense_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expense_show_container .expense .expense_show_form .expense_item_cont .expense_item p {
  margin-right: 10px;
  font-weight: 400;
}

.expense_show_container .expense .expense_show_form .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.expense_show_container .expense .expense_show_form .pages a {
  text-align: center;
  border: 2px solid #d7d120;
  width: 20px;
  height: 25px;
  text-decoration: none;
  color: #d4a31e;
}

.paginationCont {
  position: absolute;
  top: 10px;
  left: 20px;
}
/*# sourceMappingURL=home.css.map */